.rodape {
    
    &__top {
        
        padding: 2rem 5%;
        border-top: 1px $gray solid;
        border-bottom: 1px $gray solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .rodape-menu {
            &__item {

                list-style: none;

                &:not(:last-child) {
                    padding-bottom: .2rem;
                }
                &>a {

                    color: $preto;
                    font-weight: 700;
                    text-decoration: none;
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .newsletter {
            
            margin: 0;
            
            h3 {
                font-weight: 400;
                padding-bottom: .5rem;
            }
            
            .container-newsletter {

                
                .input-email {
                    border: none;
                    padding: .7rem 1.5rem;
                    border: 1px solid $gray;
                }
                
                .btn-inscrever {

                    border: none;
                    padding: .7rem 1.5rem;
                    background-color: $green;
                    color: $gray-ligth;
                    font-weight: 700;
                    cursor: pointer;
                    transition: .5s;

                    &:hover {
                        background-color: $green-dark;
                    }
                }

            }

        }
    }

    &__bottom {

        padding: .7rem 5%;

        .rodape-social {

            display: flex;
            list-style: none;
            gap: .8rem;

            &__item {
                & > a i {
                    color: $green;
                    font-size: 1.6rem;
                }
            }
        }

        .pagamento {
            max-width: 200px;

            & img {
                width: 100%;
            }
        }
    }
}
@media (max-width: 700px) {
    .rodape__top {

        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 3rem;

        .newsletter {
            
            width: 100%;
            .container-newsletter {

                .input-email,.btn-inscrever {
                    width: 100%;
                    margin: .5rem;
                    border-radius: .2rem;
                }
            }
        }
    }
}